[submodule "Plugins/RecklessBoon.DiscordPlugin"]
	path = Plugins/RecklessBoon.DiscordPlugin
	url = https://github.com/RecklessBoon/Macro-Deck-Discord-Plugin.git
[submodule "Plugins/RecklessBoon.MacroDeck.GPUZ"]
	path = Plugins/RecklessBoon.MacroDeck.GPUZ
	url = https://github.com/RecklessBoon/Macro-Deck-GPU-Z-Plugin.git
[submodule "Plugins/PhoenixWyllow.Soundboard4MacroDeck"]
	path = Plugins/PhoenixWyllow.Soundboard4MacroDeck
	url = https://github.com/PhoenixWyllow/Soundboard4MacroDeck2.git
[submodule "Plugins/SuchByte.WindowsUtils"]
	path = Plugins/SuchByte.WindowsUtils
	url = https://github.com/SuchByte/Macro-Deck-Windows-Utils-Plugin
[submodule "IconPacks/MacroDeck.MacroDeckcolorfulgenericicons"]
	path = IconPacks/MacroDeck.MacroDeckcolorfulgenericicons
	url = https://github.com/SuchByte/Macro-Deck-Colorful-Generic-Icons
[submodule "Plugins/SuchByte.MediaControls"]
	path = Plugins/SuchByte.MediaControls
	url = https://github.com/SuchByte/Macro-Deck-Media-Controls-Plugin
[submodule "Plugins/SuchByte.TwitchPlugin"]
	path = Plugins/SuchByte.TwitchPlugin
	url = https://github.com/SuchByte/Macro-Deck-Twitch-Plugin
[submodule "Plugins/SuchByte.GHUBBatteries"]
	path = Plugins/SuchByte.GHUBBatteries
	url = https://github.com/SuchByte/Macro-Deck-GHUB-Batteries
[submodule "Plugins/SuchByte.OBS-WebSocketPlugin"]
	path = Plugins/SuchByte.OBS-WebSocketPlugin
	url = https://github.com/SuchByte/Macro-Deck-OBS-WebSocket-Plugin
[submodule "Plugins/SuchByte.SinusBotPlugin"]
	path = Plugins/SuchByte.SinusBotPlugin
	url = https://github.com/SuchByte/Macro-Deck-SinusBot-Plugin
[submodule "Plugins/SuchByte.HomeAssistantPlugin"]
	path = Plugins/SuchByte.HomeAssistantPlugin
	url = https://github.com/SuchByte/Macro-Deck-Home-Assistant-Plugin
[submodule "Plugins/PhoenixWyllow.SoundPadPlugin"]
	path = Plugins/PhoenixWyllow.SoundPadPlugin
	url = https://github.com/PhoenixWyllow/MacroDeck.SoundPad
[submodule "IconPacks/MidoMatrix.Simpleblue"]
	path = IconPacks/MidoMatrix.Simpleblue
	url = https://github.com/imohammedramadan/Macro-Deck-Simple-Blue-Icons
[submodule "IconPacks/PhoenixWyllow.CleanFramed"]
	path = IconPacks/PhoenixWyllow.CleanFramed
	url = https://github.com/PhoenixWyllow/MacroDeckCleanFramedIcons.git
[submodule "IconPacks/PhoenixWyllow.CleanFrameless"]
	path = IconPacks/PhoenixWyllow.CleanFrameless
	url = https://github.com/PhoenixWyllow/MacroDeckCleanFramelessIcons.git
[submodule "Plugins/KSoft.MediaInfo"]
	path = Plugins/KSoft.MediaInfo
	url = https://github.com/kitarolivier/KSoft.MediaInfo
[submodule "IconPacks/RecklessBoon.PoweredSteel"]
	path = IconPacks/RecklessBoon.PoweredSteel
	url = https://github.com/RecklessBoon/Macro-Deck-Icon-Powered-Steel.git
[submodule "IconPacks/puppy.mistyiconpack"]
	path = IconPacks/puppy.mistyiconpack
	url = https://github.com/whosthispuppy/misty
