name: Compile Extensions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.value }}
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3.3.0
    - name: Init Submodules
      run: git submodule update --init --recursive
    - id: matrix
      run: git submodule --quiet foreach 'echo `git remote get-url origin | sed "s/https:\/\/github\.com\///" | sed "s/\.git//"` $sha1' | awk 'NR > 1 {printf(",")} {printf("{\"repository\":\"%s\",\"ref\":\"%s\"}", $1, $2)}' | cat <(echo -n "value=[") - <(echo -n "]") >> $GITHUB_OUTPUT
    - name: Check matrix value
      run: echo "${{ steps.matrix.outputs.value }}"

  build:
    needs: [ setup ]
    runs-on: ubuntu-latest
    outputs:
      artifact-names: ${{ env.artifact-names }}
    strategy:
      fail-fast: true
      matrix:
        value: ${{fromJson(needs.setup.outputs.matrix)}}
        
    steps:
    - name: Build Extension
      id: build_extension
      continue-on-error: true
      uses: RecklessBoon/Macro-Deck-Extension-Build-Action@main
      with:
        upsert-release: false
        ext-repo: ${{ matrix.value.repository }}
        ext-ref: ${{ matrix.value.ref }}
        
    - name: Matrix outputs - write
      uses: cloudposse/github-action-matrix-outputs-write@452cd7eaf9068d160987d0ca0a06895fecb40bd8
      with:
        # Matrix step name
        matrix-step-name: build
        # Matrix key
        matrix-key: ${{ matrix.value.repository }}
        # YAML structured map of outputs
        outputs: |-
          artifact-name: ${{ steps.build_extension.outputs.artifact-name }}
    
  post-process:
    needs: [ setup, build ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        value: ${{fromJson(needs.setup.outputs.matrix)}}
    
    steps:
    - name: Matrix outputs - read
      id: artifact-names
      # You may pin to the exact commit or the version.
      uses: cloudposse/github-action-matrix-outputs-read@ea1c28d66c34b8400391ed74d510f66abc392d5e
      with:
        # Matrix step name
        matrix-step-name: build
    
    - name: Show artifact output
      shell: bash
      run: echo "Artifact name = ${{ fromJson(steps.artifact-names.outputs.result)[matrix..value.repository] }}"
