name: Compile Extensions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ closed ]
  workflow_dispatch:

jobs:
  setup:
    if: github.event_name != 'pull_request' || github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.value }}
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3.3.0
    - name: Init Submodules
      run: git submodule update --init --recursive --checkout
    - id: matrix
      run: git submodule --quiet foreach 'echo `git remote get-url origin | sed "s/https:\/\/github\.com\///" | sed "s/\.git//"` $sha1 $displaypath' | awk 'NR > 1 {printf(",")} {printf("{\"repository\":\"%s\",\"ref\":\"%s\",\"path\":\"%s\"}", $1, $2, $3)}' | cat <(echo -n "value=[") - <(echo -n "]") >> $GITHUB_OUTPUT
    - name: Check matrix value
      run: echo "${{ steps.matrix.outputs.value }}"

  build:
    if: github.event_name != 'pull_request' || github.event.pull_request.merged == true
    needs: [ setup ]
    runs-on: ubuntu-latest
    environment: development
    strategy:
      fail-fast: false
      matrix:
        value: ${{fromJson(needs.setup.outputs.matrix)}}
        
    steps:
    - name: install dependecies
      run: sudo apt-get install -y dos2unix

    - name: Checkout
      uses: actions/checkout@v3.3.0
      
    - name: Init Submodule
      run: git submodule update --init --recursive ${{ matrix.value.path }}
      
    - name: Build Extension
      id: build_extension
      uses: RecklessBoon/Macro-Deck-Extension-Build-Action@main
      with:
        upsert-release: false
        ext-repo: ${{ matrix.value.repository }}
        ext-ref: ${{ matrix.value.ref }}
        
    - name: Extract Extension Info
      run: |
        delim="EOF-${RANDOM}"
        echo "manifest<<${delim}" >> $GITHUB_ENV
        cat "${{ matrix.value.path }}/ExtensionManifest.json" | dos2unix | perl -pe 'chome if eof' >> $GITHUB_ENV
        echo -e "\n${delim}" >> $GITHUB_ENV
    
    - name: Debug Extension Info
      shell: bash
      run: |
        echo "[Extension Info Values]"
        echo "Type                     : ${{ fromJSON(env.manifest).type }}"
        echo "Name                     : ${{ fromJSON(env.manifest).name }}"
        echo "Author                   : ${{ fromJSON(env.manifest).author }}"
        echo "GitHub Repository        : ${{ fromJSON(env.manifest).repository }}"
        echo "Package ID               : ${{ fromJSON(env.manifest).packageId }}"
        echo "Version                  : ${{ fromJSON(env.manifest).version }}"

    - name: Validate Extension Info
      if: |
        fromJSON(env.manifest).type == '' || 
        fromJSON(env.manifest).name == '' || 
        fromJSON(env.manifest).author == '' || 
        fromJSON(env.manifest).repository == '' || 
        fromJSON(env.manifest).packageId == '' || 
        fromJSON(env.manifest).version == ''
      shell: bash
      run: | 
        echo "::error file=ExtensionManifest.json::Invalid manifest! Required attributes [version, type, packageId, target-plugin-api-version]" && exit 1
        
    - name: Download a Build Artifact
      uses: actions/download-artifact@v3.0.2
      with:
        # Artifact name
        name: ${{ steps.build_extension.outputs.artifact-name }}
    
    - name: Upload built files
      id: upload-build-files
      env:
        MACRO_DECK_API_AUTH: "Bearer ${{ secrets.MACRO_DECK_API_TOKEN }}"
      run: |
        curl --fail-with-body -o "./${{ fromJSON(env.manifest).packageId }}-upload-response.json" -X POST \
          '${{ vars.EXTENSION_STORE_API_URL }}/files/Upload' \
          -H 'accept: */*' \
          -H "Authorization: $MACRO_DECK_API_AUTH" \
          -H 'Content-Type: multipart/form-data' \
          -F 'file=@${{ steps.build_extension.outputs.artifact-path }};type=application/x-zip-compressed' || true
        response=$(cat "./${{ fromJSON(env.manifest).packageId }}-upload-response.json")
        echo -e "Response:\n$response"
        echo "response=$(cat "./${{ fromJSON(env.manifest).packageId }}-upload-response.json")" >> $GITHUB_OUTPUT
        
    - name: Check upload response
      if: |
        fromJSON(steps.upload-build-files.outputs.response).success == false &&
        fromJSON(steps.upload-build-files.outputs.response).errorCode != 4
      run: |
        echo "::error ::Failed to upload files to build server. Response: ${{ steps.upload-build-files.outputs.response }}" && exit 1

    - name: Notify Macro Bot
      id: notify-macro-bot
      if: fromJSON(steps.upload-build-files.outputs.response).success == true
      env:
        BOT_API_AUTH: "Bearer ${{ fromJSON(steps.upload-build-files.outputs.response).newPlugin && secrets.BOT_NEW_API_TOKEN || secrets.BOT_UPDATE_API_TOKEN }}"
      run: |
        payload='{
          "toEveryone" : false,
          "embed" : {
            "color" : {
              "r":0,
              "g":1,
              "b":1
            },
            "description" : "${{ github.event_name == 'pull_request' && github.event.pull_request.title || 'Plugin(s) Deployed to Extension Store' }}",
            "fields" : [
              {
                "name": "Path",
                "value": "${{ matrix.value.path }}",
                "inline": false
              },
              {
                "name": "Repository URL",
                "value": "${{ matrix.value.repository }}",
                "inline": false
              },
              {
                "name" : "SHA",
                "value" : "${{ matrix.value.ref }}" , 
                "inline" : false
              }${{ github.event_name == 'pull_request' && format(', {"name": "PR Body", "value": "{0}", "inline": false }', github.event.pull_request.body) || '' }}
            ]
          }
        }'
        curl --fail-with-body -o "./${{ fromJSON(env.manifest).packageId }}-bot-notify-response.json" -X POST \
          '${{ vars.BOT_API_URL }}/webhook/${{ fromJSON(steps.upload-build-files.outputs.response).newPlugin && 'newextension' || 'updateextension' }}' \
          -H 'accept: */*'
          -H "Authorization: $BOT_API_AUTH" \
          -H 'Content-Type: application/json' \
          -d "$payload" || true
        failed=$?
        response=$(cat "./${{ fromJSON(env.manifest).packageId }}-upload-response.json")
        echo -e "Response:\n$response"
        if [ $failed -ne 0 ]; then 
          exit 1; 
        fi
        echo "response=$response" >> $GITHUB_OUTPUT
            
