name: Compile Extensions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.value }}
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3.3.0
    - name: Init Submodules
      run: git submodule update --init --recursive
    - id: matrix
      run: git submodule --quiet foreach 'echo `git remote get-url origin | sed "s/https:\/\/github\.com\///" | sed "s/\.git//"` $sha1' | awk 'NR > 1 {printf(",")} {printf("{\"repository\":\"%s\",\"ref\":\"%s\"}", $1, $2)}' | cat <(echo -n "value=[") - <(echo -n "]") >> $GITHUB_OUTPUT
    - name: Check matrix value
      run: echo "${{ steps.matrix.outputs.value }}"

  build:
    needs: [ setup ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        value: ${{fromJson(needs.setup.outputs.matrix)}}
        
    steps:
    - name: Build Extension
      uses: RecklessBoon/Macro-Deck-Extension-Build-Action@main
      with:
        upsert-release: 'false'
        ext-repo: ${{ matrix.repo }}
        ext-ref: ${{ matrix.ref }}
